.bg-footer-style {
    background-image: url(../images/bg-footer.jpg);
}
.post_layout_excerpt .info_post_short .post_comments {
    background-image: url(../images/blog-info-main.png);
}
.post_layout_excerpt.sticky .info_post_short .post_comments {
    background-image: url(../images/blog-info-stiky.png);
}
.post_layout_excerpt.format-quote,
.post_layout_excerpt.sticky {
    background-image: url(../images/bg-stiky.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: contain;
}
.author_info {
    background-image: url(../images/author_bg.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: 90% auto;
}
.sc_title_extra .sc_item_subtitle {
    background-image: url("../images/title_bg_1.png");
    background-repeat: no-repeat;
    background-size: 100% 42px;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 42px;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    height: 42px;
    overflow: hidden;
    color: #6fc6ec !important;
}
.color_style_link2.sc_title_extra .sc_item_subtitle {
    background-image: url("../images/title_bg_2.png");
    color: #f6a3ba !important;
}



